lastBuildVersion.txt
json_doc.xml

*.crash.json
*.crash.ldtk
*.map
*.zip
*.bson

backups/
dump/
res/.tmp
.vscode/settings.json

app/*.log
app/package-lock.json
app/settings
app/redist
app/node_modules
app/buildAssets/release-notes.md
app/assets/main.js
app/assets/main.js.map
app/assets/css/app.css
app/assets/js/renderer.js
app/assets/js/*.map

art/export_appElements

tests/_private
tests/_backups
tests/*.txt