lastBuildVersion.txt

dump/
res/.tmp
.vscode/settings.json

app/package-lock.json
app/redist
app/node_modules
app/build/release-notes.md
app/bin/main.js
app/bin/css/app.css
app/bin/js/renderer.js
app/bin/js/*.map
