body {
  margin: 0;
  padding: 0;
  background: #2e333f;
  color: white;
  font-family: "Arial";
  font-size: 11pt;
}

xml {
  display: none;
}

button {
  width: 100%;
  background-color: #e34d00;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #ff5d4a;
  box-shadow: 0px 2px 0px #b53d00;
  cursor: pointer;
}

button + button {
  margin-top: 2px;
}

button:hover {
  background-color: #ff5d4a;
}

form > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form > ul li {
  margin: 0;
  padding: 0;
}

form > ul > li {
  display: flex;
  flex: 1 1 auto;
}

form > ul > li + li {
  margin-top: 8px;
}

form > ul label {
  flex: 0 0 150px;
}

form > ul .suffix {
  flex: 0 0 20px;
  padding-left: 8px;
  opacity: 0.5;
}

select {
  display: block;
  width: 100%;
  padding: 3px;
}

input[type=text],
input[type=number] {
  display: block;
  width: 100%;
  padding: 3px;
  color: white;
  background-color: #1e2229;
  border: 1px solid #545d73;
}

input[type=text]:focus,
input[type=number]:focus {
  border-color: #ffcc00;
  box-shadow: 0px 0px 4px #e34d00;
  outline: none;
}

.window {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.window .mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.window .content {
  position: absolute;
  z-index: 2;
  display: block;
  padding: 20px;
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
  background: #2e333f;
  border: 1px solid #545d73;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
}

.editor canvas#webgl {
  height: 100% !important;
  position: absolute;
  left: 200px;
}

.editor .panel {
  position: absolute;
  height: 100%;
  width: 200px;
  padding: 5px;
  background: #1e2229;
  border-color: #545d73;
  border-style: solid;
  box-shadow: 0px 0px 16px black inset;
  z-index: 1;
  box-sizing: border-box;
}

.editor .panel.left {
  left: 0px;
  border-right-width: 1px;
}

.editor .panel.right {
  right: 0px;
  border-left-width: 1px;
}

.editor #mainBar {
  margin-bottom: 8px;
}

.editor #toolBar {
  position: absolute;
  top: 0px;
  left: 200px;
  padding: 4px;
  background-color: #2e333f;
}

.layersList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.layersList ul li {
  margin: 0;
  padding: 0;
}

.layersList ul li {
  display: flex;
}

.layersList ul li .name {
  display: block;
  padding: 10px;
  flex-grow: 1;
  background-color: #2e333f;
  cursor: pointer;
  border-bottom: 1px solid #1e2229;
}

.layersList ul li .vis {
  display: block;
  width: 24px;
  background-color: black;
}

.layersList ul li .vis.off {
  background-color: red;
}

.layersList ul li.active .name {
  color: black;
  background-color: #ffcc00;
  box-shadow: 0px 0px 2px #ffffcc inset, 0px 0px 4px #aa0000;
}

.layersList ul li.hidden {
  opacity: 0.4;
}

.layersList ul li.hidden .vis {
  background: transparent;
}

.layersList ul li:not(.active) .name:hover {
  outline: 1px solid #586279;
  outline-offset: -2px;
}

.window .editLayers {
  display: flex;
}

.window .editLayers .layersList {
  flex: 0 0 200px;
  margin-right: 10px;
}

.window .editLayers .layersList ul {
  border: 1px solid #545d73;
}

.window .editLayers form {
  flex: 1 1 auto;
}

.window .editLayers form ul.intGridValues {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: calc( 64px + 1.2em);
  gap: 8px;
}

.window .editLayers form ul.intGridValues li {
  margin: 0;
  padding: 0;
}

.window .editLayers form ul.intGridValues li {
  position: relative;
}

.window .editLayers form ul.intGridValues li.value input[type=color] {
  width: 100%;
  height: 64px;
}

.window .editLayers form ul.intGridValues li.value span.id {
  display: block;
  text-align: center;
  font-weight: bold;
}

.window .editLayers form ul.intGridValues li.value a.remove {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  background: black;
  color: white;
  padding: 3px;
  text-decoration: none;
}

.window .editLayers form ul.intGridValues li.value.removable a.remove {
  display: block;
}

.window .editLayers form ul.intGridValues li.add button {
  width: 100%;
  height: 64px;
  padding: 0;
  line-height: 64px;
  text-align: center;
  font-size: 300%;
  text-decoration: none;
  color: white;
}

.window .editLayers form:not(.type-IntGrid) .IntGrid {
  display: none;
}

.window .editLayers form:not(.type-Entities) .Entities {
  display: none;
}
