// Consts
$panelWid: 200px;

// Colors
$bgDark: #1e2229;
$bgMed: #2e333f;
$bgLight: #545d73;
$red: #e34d00;
$orange: #ffcc00;

// Shortcuts
@mixin resetMargin() {
	margin: 0;
	padding: 0;
}
@mixin resetList() {
	@include resetMargin();
	list-style: none;
	li {
		@include resetMargin();
	}
}




body {
	margin: 0;
	padding: 0;
	background: $bgMed;
	color: white;
	font-family: "Arial";
	font-size: 11pt;
}

xml {
	display: none;
}


button {
	width: 100%;
	background-color: $red;
	color: white;
	text-transform: uppercase;
	padding: 10px;
	border: 1px solid #ff5d4a;
	box-shadow: 0px 2px 0px #b53d00;
	cursor: pointer;
}
button+button {
	margin-top: 2px;
}
button:hover {
	background-color: #ff5d4a;
}


form>ul {
	@include resetList();
	>li {
		display: flex;
		flex: 1 1 auto;
	}
	>li+li {
		margin-top: 8px;
	}
	label {
		flex: 0 0 150px;
	}
	.suffix {
		flex: 0 0 20px;
		padding-left: 8px;
		opacity: 0.5;
	}

}

select {
	display: block;
	width: 100%;
	padding: 3px;
}

input[type=text],
input[type=number] {
	display: block;
	width: 100%;
	padding: 3px;
	color: white;
	background-color: $bgDark;
	border: 1px solid $bgLight;
}

input[type=text]:focus,
input[type=number]:focus {
	border-color: $orange;
	box-shadow: 0px 0px 4px $red;
	outline: none;
}

.window {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	.mask {
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}

	.content {
		position: absolute;
		z-index: 2;
		display: block;
		padding: 20px;
		padding-left: 50px;

		width: 500px;
		margin-top: 50px;
		background: $bgMed;
		border: 1px solid $bgLight;
		border-left: none;

		box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
	}
}


.editor {

	canvas#webgl {
		// width: calc( 100% - $panelWid ) !important;  // TODO
		height: 100% !important;
		position: absolute;
		left: $panelWid;
	}

	.panel {
		position: absolute;
		height: 100%;
		width: $panelWid;
		padding: 5px;
		background: $bgDark;
		border-color: $bgLight;
		border-style: solid;
		box-shadow: 0px 0px 16px black inset;
		z-index: 1;
		box-sizing: border-box;
	}
	.panel.left {
		left: 0px;
		border-right-width: 1px;
	}
	.panel.right {
		right: 0px;
		border-left-width: 1px;
	}


	#mainBar {
		margin-bottom: 8px;
	}

	#palette {
		// position: absolute;
		// top: 0px;
		// left: $panelWid;
		background-color: $bgDark;

		ul {
			@include resetList();
			padding: 4px;

			>li {
				display: block;
				// min-width: 32px;
				min-height: 16px;
			}
			>li:hover {
				outline: 1px solid white;
				outline-offset: -1px;
			}
			// >li+li {
				// margin-left: 2px;
			// }

			li.color {
				padding-left: 10px;
				overflow: hidden;
				line-height: 32px;
				box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.3) inset;
			}
			li.color.active {
				outline: 2px solid white !important;
			}
		}
	}
}


.layersList {
	ul {
		@include resetList();
		li {
			display: flex;

			.name {
				display: block;
				padding: 10px;
				flex-grow: 1;

				background-color: $bgMed;
				cursor: pointer;
				border-bottom: 1px solid $bgDark;
			}
			.vis {
				display: block;
				width: 24px;
				background-color: black;
			}
			.vis.off {
				background-color: red;
			}
		}

		li.active .name {
			color: black;
			background-color: $orange;
			box-shadow: 0px 0px 2px #ffffcc inset, 0px 0px 4px #aa0000;
		}
		li.hidden {
			opacity: 0.4;
			.vis {
				background: transparent;
			}
		}
		li:not(.active) .name:hover {
			outline: 1px solid #586279;
			outline-offset: -2px;
		}
	}
}


.window .editLayers {
	display: flex;

	.layersList {
		flex: 0 0 200px;
		margin-right: 10px;
		ul {
			border: 1px solid $bgLight;
		}
	}

	form {
		flex: 1 1 auto;

		ul.intGridValues {
			@include resetList();
			display: grid;
			width: 100%;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: calc( 64px + 2 * 1.2em );
			gap: 8px;

			li {
				position: relative;
			}

			li.value {
				input[type=color] {
					width: 100%;
					height: 64px;
				}

				input.name {
					display: block;
					text-align: center;
					font-style: italic;
				}

				span.id {
					display: block;
					text-align: center;
					font-weight: bold;
				}

				a.remove {
					display: none;
					position: absolute;
					top: 0px;
					right: 0px;
					background: black;
					color: white;
					padding: 3px;
					text-decoration: none;
				}
			}
			li.value.removable a.remove {
				display: block;
			}

			li.add button {
				width: 100%;
				height: 64px;
				padding: 0;

				line-height: 64px;
				text-align: center;
				font-size: 300%;
				text-decoration: none;
				color: white;
			}
		}
	}


	form:not(.type-IntGrid) .IntGrid {
		display: none;
	}

	form:not(.type-Entities) .Entities {
		display: none;
	}
}