@font-face {
  font-family: Roboto;
  src: url("../fonts/RobotoCondensed-Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: #2e333f;
  color: white;
  font-family: "Arial";
  font-size: 11pt;
}

img {
  vertical-align: middle;
}

xml {
  display: none;
}

h1 {
  color: magenta;
}

h2 .icon, h3 .icon, h4 .icon, h5 .icon {
  vertical-align: bottom;
  width: 2em;
  height: 2em;
}

h2 .icon,
h2 img, h3 .icon,
h3 img, h4 .icon,
h4 img, h5 .icon,
h5 img {
  margin-right: 4px;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ffcc00;
  color: #ffcc00;
  text-transform: uppercase;
  font-size: 18pt;
  font-family: Roboto;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #545d73;
}

button {
  width: 100%;
  background-color: #e34d00;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #ff5d4a;
  box-shadow: 0px 2px 0px #b53d00;
  cursor: pointer;
}

button .icon {
  margin: -4px;
  width: 1.7em;
  height: 1.7em;
}

button + button {
  margin-top: 2px;
}

button:hover {
  background-color: #ff5d4a;
}

button.cancel {
  background-color: #2e333f;
  border-color: #545d73;
  box-shadow: 0px 2px 0px #2e333f;
}

button.cancel:hover {
  background-color: #545d73;
}

.buttons {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}

.buttons button {
  flex: 1 1 0;
}

.buttons button + button {
  margin-top: 0;
  margin-left: 2px;
}

form > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

form > ul li {
  margin: 0;
  padding: 0;
}

form > ul > li {
  display: flex;
  flex: 1 1 auto;
}

form > ul > li .small {
  flex: 0 1 60px;
}

form > ul > li + li {
  margin-top: 8px;
}

form > ul label {
  flex: 0 0 150px;
}

form > ul li > span {
  flex: 0 0 20px;
  opacity: 0.5;
  padding: 8px;
  text-align: center;
}

form > ul li > span:last-child {
  text-align: left;
}

select {
  display: block;
  width: 100%;
  padding: 3px;
}

input[type=text],
input[type=number] {
  display: block;
  width: 100%;
  padding: 3px;
  color: white;
  background-color: #1e2229;
  border: 1px solid #545d73;
}

input[type=text]:focus,
input[type=number]:focus {
  border-color: #ffcc00;
  box-shadow: 0px 0px 4px #e34d00;
  outline: none;
}

#notificationList {
  position: absolute;
  z-index: 99;
  top: 30px;
  right: 0px;
}

#notificationList .notification {
  min-width: 150px;
  max-width: 300px;
  margin-bottom: 8px;
  background-color: #2e333f;
  border-left: 8px solid #ffcc00;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

#notificationList .notification .content {
  padding: 20px;
  padding-right: 80px;
}

.window {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

.window .mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.window .content {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 700px;
  background: #2e333f;
  border: 1px solid #545d73;
  border-left: none;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.3);
}

.cols {
  display: grid;
  width: 100%;
  gap: 16px;
  grid-template-columns: 0.4fr 1fr;
}

div.confirm {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 98;
}

div.confirm .mask {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

div.confirm .wrapper {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  top: 200px;
  left: calc( 50% - 150px);
  width: 300px;
  background: #1e2229;
  border: 1px solid #ffcc00;
  box-shadow: 0px 0px 16px #e34d00, 0px 8px 32px rgba(0, 0, 0, 0.3);
}

div.confirm .wrapper .buttons {
  margin-top: 30px;
}

div.confirm .wrapper .buttons button {
  flex: 1 1 0;
}

div.confirm .wrapper .buttons button.confirm {
  flex-grow: 2;
}

.sortable-placeholder {
  min-height: 1.3em;
  outline: 1px dashed #ffcc00;
  outline-offset: -2px;
  background-color: #1e2229;
}

*[draggable=true] {
  background: url("/img/icons/drag.png") no-repeat;
  background-position: right center;
  background-size: contain;
  padding-right: 35px !important;
}

.editor canvas#webgl {
  height: 100% !important;
  position: absolute;
  left: 200px;
}

.editor .panel {
  position: absolute;
  height: 100%;
  width: 200px;
  padding: 5px;
  background: #1e2229;
  border-color: #545d73;
  border-style: solid;
  box-shadow: 0px 0px 16px black inset;
  z-index: 1;
  box-sizing: border-box;
}

.editor .panel.left {
  left: 0px;
  border-right-width: 1px;
}

.editor .panel.right {
  right: 0px;
  border-left-width: 1px;
}

.editor #mainBar {
  margin-bottom: 8px;
}

.editor #layers ul.niceList li .name {
  flex: 1 1 auto;
  order: 1;
  display: block;
  cursor: pointer;
}

.editor #layers ul.niceList li .vis {
  flex: 0 0 auto;
  padding: 10px;
  margin: -10px;
  color: white;
  text-shadow: 0px 0px 4px black;
  order: 2;
  display: block;
  cursor: zoom-out;
}

.editor #layers ul.niceList li .vis:hover {
  outline: 1px solid white;
  outline-offset: -4px;
}

.editor #palette {
  background-color: #1e2229;
}

.editor #palette ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 4px;
}

.editor #palette ul li {
  margin: 0;
  padding: 0;
}

.editor #palette ul > li {
  display: block;
  min-height: 16px;
  cursor: pointer;
}

.editor #palette ul > li:hover {
  outline: 1px solid white;
  outline-offset: -1px;
}

.editor #palette ul li.color {
  padding-left: 10px;
  overflow: hidden;
  line-height: 32px;
  box-shadow: -2px 0px 0px rgba(0, 0, 0, 0.3) inset;
}

.editor #palette ul li.color.active {
  outline: 2px solid white !important;
}

ul.niceList {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 4px;
  margin-top: 4px;
  min-height: 200px;
  margin-bottom: 4px;
  border: 1px solid #545d73;
  background-color: #1e2229;
}

ul.niceList li {
  margin: 0;
  padding: 0;
}

ul.niceList :first-child {
  margin-top: 0;
}

ul.niceList li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #1e2229;
  border-bottom: 1px solid #1e2229;
  background-color: #2e333f;
  cursor: pointer;
}

ul.niceList li .icon {
  margin-right: 8px;
}

ul.niceList li.active {
  background-color: #ffcc00;
  color: black;
  box-shadow: 0px 0px 2px #ffffcc inset, 0px 0px 4px #aa0000;
}

ul.niceList li.hidden {
  opacity: 0.4;
}

ul.niceList li.hidden .vis {
  background: transparent;
  cursor: zoom-in;
}

ul.niceList li:not(.active):hover {
  outline: 1px solid #586279;
  outline-offset: -1px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.3em;
  height: 1.3em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon.entity {
  background-image: url("/img/icons/entity.png");
}

.icon.layer {
  background-image: url("/img/icons/layer.png");
}

.icon.intGrid {
  background-image: url("/img/icons/intGrid.png");
}

.black {
  filter: brightness(0);
}

.orange {
  filter: brightness(0.6) sepia(1) hue-rotate(0.25rad) saturate(10);
}

.window.defEditor .mainList ul {
  border: 1px solid #545d73;
}

.window.defEditor .mainList button.delete {
  flex: 0 0 32px;
}

.window.layerDefs form ul.intGridValues {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: calc( 64px + 2 * 1.2em);
  gap: 8px;
}

.window.layerDefs form ul.intGridValues li {
  margin: 0;
  padding: 0;
}

.window.layerDefs form ul.intGridValues li {
  position: relative;
}

.window.layerDefs form ul.intGridValues li.value input[type=color] {
  width: 100%;
  height: 64px;
}

.window.layerDefs form ul.intGridValues li.value input.name {
  display: block;
  text-align: center;
  font-style: italic;
}

.window.layerDefs form ul.intGridValues li.value span.id {
  display: block;
  text-align: center;
  font-weight: bold;
}

.window.layerDefs form ul.intGridValues li.value a.remove {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  background: black;
  color: white;
  padding: 3px;
  text-decoration: none;
}

.window.layerDefs form ul.intGridValues li.value.removable a.remove {
  display: block;
}

.window.layerDefs form ul.intGridValues li.add button {
  width: 100%;
  height: 64px;
  padding: 0;
  line-height: 64px;
  text-align: center;
  font-size: 300%;
  text-decoration: none;
  color: white;
}

.window.layerDefs form:not(.type-IntGrid) .IntGrid {
  display: none;
}

.window.layerDefs form:not(.type-Entities) .Entities {
  display: none;
}

.window.entityDefs .content {
  width: 900px;
}

.window.entityDefs .fields {
  margin-top: 20px;
}

.window.entityDefs .fields ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.window.entityDefs .fields ul li {
  margin: 0;
  padding: 0;
}

.window.entityDefs .fields .cols {
  grid-template-columns: 0.8fr 1fr;
}
